.Name{
    margin-top: 100px;
    font-weight: bold;
    overflow: hidden;
    color: rgb(217, 85, 36)
}
.Summary{
    margin-top: 30px;
    font-style: italic;
    color: rgb(173, 182, 198);
    overflow: hidden;
}

.Main{
    overflow: hidden;
}

.Title {
    color: rgb(236, 147, 115);
}

